$background-theme: #d4005f; //background of app/theme
$backgroundGameBoard: #89b2f4;

html, body, .app {
  height: 100%;
}

.gameboard {
  display: grid;
  grid: "col1row1 col2row1 col3row1" 33.33%
        "col1row2 col2row2 col3row2" 33.33%
        "col1row3 col2row3 col3row3" 33.33%
        / 33.33% 33.33% 33.33%;
  background: #4286f4;
  height: 100%;
}

.gameboard > [class^="col-"] {
  color: white;
  background: $backgroundGameBoard;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px $background-theme solid;
  font-family: roboto;
  font-size: calc(10vw + 5vh)
}

.col-1 {
  grid-column: 1 / auto;
}

.col-2 {
  grid-column: 2 / auto;
}

.col-3 {
  grid-column: 3 / auto;
}

.row-1 {
  grid-row: 1 / auto;
}

.row-2 {
  grid-row: 2 / auto;
}

.row-3 {
  grid-row: 3 / auto;
}

.message-board {
  overflow-y: auto;
}

.message-board-scroll {
}

.message-bubble {
  width: 50%;
  height: 100%;
  background: green;
  position: relative;
}

.message-bubble .time {
  position: absolute;
  top: 60%;
  right: 0px;
}

.message-bubble .message {
  word-wrap: break-word;
}

.message-bubble .delete {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.message-bubble i {
  border: 1px solid #000;
  border-radius: 4px;
  width: auto;
  height: auto;
}

.container-grid {
  display: grid;
  grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: "header header header header header header"
        ". main main main main ."
        "footer footer footer footer footer footer";
  background: $background-theme;
  height: 100%;
  /*
  #d4a600
  */
}

.main {
  grid-area: main;
  justify-items: center;
}

.navbar-wrapper {
  grid-area: header;
}

.create-account {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.create-account > form {
  display: flex;
  flex-direction: column;
}
