$background-theme: #d4005f; //background of app/theme
$backgroundGameBoard: #89b2f4;
$materialLightBlue: #00bcd4;
* {
  box-sizing: border-box;
}

html, body, .app {
  height: 99%;
  overflow-y: hidden;
}

.gameboard {
  display: grid;
  grid: "col1row1 col2row1 col3row1" 33.33%
        "col1row2 col2row2 col3row2" 33.33%
        "col1row3 col2row3 col3row3" 33.33%
        / 33.33% 33.33% 33.33%;
  background: #4286f4;
  height: 100%;
}

.navbar-right-element {
  display: flex;
  align-items: center;
}
.gameboard > [class^="col-"] {
  color: white;
  background: $backgroundGameBoard;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px $background-theme solid;
  font-family: roboto;
  font-size: calc(10vh + 1vw);
}

.col-1 {
  grid-column: 1 / span;
}

.col-2 {
  grid-column: 2 / span;
}

.col-3 {
  grid-column: 3 / span;
}

.row-1 {
  grid-row: 1 / span;
}

.row-2 {
  grid-row: 2 / span;
}

.row-3 {
  grid-row: 3 / span;
}

.chat-board {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.message-board {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  background: #FFFFFF;
  height: 50%;
  width: 100%;
}

.create-chat-message {
  height: 50%;
  width: 100%;
}

.message-bubble {
  width: 30vw;
  height: 100%;
  background: #00bcd4;
  position: relative;
  margin: .5rem;
  border-radius: .2rem;
  font-size: calc(1vh + .8vw);
  padding: 1em
}

.message-bubble .player {
  font-size: 2vh;
}

.message-bubble .time {
}

.message-bubble .message {
  word-wrap: break-word;
}

.message-bubble .delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 3vh;
  cursor: pointer;
}

.message-bubble i {
  border: 1px solid #000;
  border-radius: 4px;
  width: auto;
  height: auto;
}

.container-grid {
  display: grid;
  grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
  grid-template-rows: 15% 80% 5%;
  grid-template-areas: "header header header header header header"
        ". main main main main ."
        "footer footer footer footer footer footer";
  background: $background-theme;
  height: 100%;
  /*
  #d4a600
  */
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar-wrapper {
  grid-area: header;
}

.create-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-account > form {
  width: 100%;
}

.create-account-wrapper {
  margin: 1rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.play {
  height: 100%;

  .chat {
    height: 50%;
  }

  .tic-tac-toe-grid {
    height: 50%;
  }
}
